html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#screen {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

#title{
    position: absolute;
    font-size: 18pt;
    color: red;
}

#video, #svg { 
    position: absolute;
    left:0;
    top:0;
}

#svg path {
    cursor: pointer;
}

@media (orientation: portrait){
    #video, #svg { 
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (orientation: landscape){
    #video, #svg { 
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* EDITOR */
#editor-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

#editor-container p.sign {
    margin:20px;
    font-size: 24pt;
    color:green;
    border: 2px solid green;
    background: white;
    width: fit-content;
}

#editor-container .editor-buttons{
    margin: 20px;
    border: 1px solid green;
    width: fit-content;
    padding: 10px;
}

#editor-container .editor-buttons button{
    border: 1px solid green;
    background: green;
    color: white;
    cursor: pointer;
}