.screen{
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

.screen .title{
    font-size: 18pt;
    color: red;
}

.screen .clickable{
    width: 10px;
    height: 10px;
    border: 1px solid black;
}